<!DOCTYPE html>
<html>
    <head>
        <title>Froyo Ordering</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    </head>
    <body>
        <div>
            <a href="home">Home</a> </br>
        </div>
        <div>
          <form action="/froyo_results" method="GET">
              What is your favorite Fro-Yo flavor? <br/>
              <input type="text" name="flavor"><br/>
              <label for="toppings">What toppings do you like?</label> <br/>
              <input type="text" name="toppings"<br/>
              <input type="submit" value="Submit!">
          </form>
        </div>
    </body>
</html>
